/*ESTILOS ERROR 404*/

.FondoError{
    background-color: $ColorPrincipal;
    height: 100vh;
}
.ErrorContainer{
    margin: auto;
}

.error{
    margin-top: 35px;
    font-family: $tipografiaGeneral;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    span{
        text-decoration: line-through;
        font-weight: normal;
        color: grey;
    }
}

.burnout{
    width: 300px;
    margin: 25px auto;
    img{
        width: 300px;
        border-radius: 100%;
    }
}

.NoExist{
    color: $colorComplementario;
    font-family: $tipografiaEspecial;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}

.return{   
    text-align: center;
    width: 100%;
    a{
        color: $colorSecundario;
        text-decoration: none;
        font-family:  'Satisfy', cursive;
        font-size: 2rem;
        &:hover{
            color: $colorComplementario;
        }
    }
}