html{
    background-color: $ColorPrincipal;
}
.ErrorContaine{
    margin: auto;
}

.error{
    font-family: $tipografiaGeneral;
    text-decoration: line-through;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.NoExist{
    color: $colorComplementario;
    font-family: $tipografiaEspecial;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}

.return{   
    text-align: center;
    width: 100%;
    a{
        color: $colorSecundario;
        text-decoration: none;
        font-family:  'Satisfy', cursive;
        font-size: 2rem;
        &:hover{
            color: $colorComplementario;
        }
    }
}