//Variables

$tipografiaGeneral: 'Roboto', sans-serif;
$tipografiaEspecial: 'Cormorant Garamond', serif;
$ColorPrincipal: #3CEFC7;
$colorSecundario: #149B7D;
$colorComplementario: #FF8940;

//ESTILOS 

@import "cabecera";
@import "textos";
@import "footer";
@import "index";
@import "pages";

@media only screen and (min-width: 768px){
    
    @import "estilos768";

}

@media only screen and (min-width: 1200px){

    @import "estilos1200";
    
}